<!DOCTYPE html>
<html lang="en">
<head th:insert="header.html">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="add" method="post">
        <div class="row mt-2">
            <div class="col-6 mx-auto">
            NAME:
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <input type="text" name="name">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
        SURNAME:
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <input type="text" name="surname">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
        EXAM:
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <input type="number" name="exam">
            </div>
        </div>
        <div class="row mt-2" >
            <div class="col-6 mx-auto">
        <button>ADD STUDENT</button>
            </div>
        </div>
    </form>
</body>
</html>